@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&display=swap');

body {
	
	background-color: #FFF3DF;
	font-family: 'Bodoni Moda', serif;
	display: flex;
	align-items: center;
	 justify-content: center;
}

img { 
	max-width: 15em;
	right:-5px;
	padding: 1em ;
}

p {
	padding: 1em 2em 1em 3em;
	font-size: 1em;
}

.author {
	padding-left: 6em;
	font-size: 0.8em;
}